/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
html{
    font-size: 10px;
@font-face {
    font-family:"Avant" ;
    src: url(../fonts/AVANTN.ttf);
}
@font-face {
    font-family: "Salesforce";
    src: url(../fonts/SalesforceSans-Regular.ttf);
}
head{
    
}
body{
    margin:0;
    font-family:"Avant", sans-serif;
    
    max-width: 100%;
    box-sizing: border-box;
      
}
/*Nav*/
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #540B51;
    }

.navbar ul{
    display:none;
}

.navbar button{
    background: none;
    border: none;
    margin:15px;
    padding:0;
    display: flex;
        
   }

.slack-logo{
    width:30%;
    padding:20px;
    display:block;
                
}
    
/*Header*/
    .header-part{
        background-color: #540B51;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        text-align: center;  
       
        }

        .header-part h1{
            color:white;
            font-size:4em;
            padding:0 5%;
            font-weight: bold;
  
        }

        .header-part p{
            color: #ECB12F;
            font-weight: 600;
            letter-spacing: 0.8px;
            font-size: 1.5em;
        }


        .signup-buttons{
            text-align: center;
            margin:10px 10px 1px;
            border-radius: 3px;
            border:none;
            width:90%;
            line-height: 45px;
            text-transform: uppercase;
            color:#540B51;
            font-weight: bold;
            background-color: white;
            letter-spacing: 0.1em;
              
        }

        .google-logo{
            text-align: center;
            margin:15px;
            border-radius: 3px;
            border:none;
            display: inline-flex;
            align-items: center;
            width:90%;
            line-height: 45px;
            text-transform: uppercase;
            color:#ffffff;
            font-weight: bold;
            background-color: #4285F4;
            letter-spacing: 0.1em;
        }
       
        .google-logo img{
            width:25px;
            background-color: white;
            border: 5px solid white;
            border-radius: 2px;
                      
        }

        .heroimg img{
            width: 100%;
            overflow: hidden;
            margin:0;
        }
   






        
/*Dalin*/
/*main*/


main>:first-child {
    padding:30px;
    background-color: #F3EAE2;

}
 

.section01 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 2rem;
    letter-spacing: 0.8px;
    display: flex;
    flex-direction: column;
    
}
.img-comp{
    line-height: 20px;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

.img-comp img{
    width:  20%;
    height: 20%;
    
       
}

.section02 {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section02 h3 {
    font-size: 3em;
    margin: 0 20px;
    padding: 5px 20px;
    color: #540B51;
    letter-spacing: normal;
    font-weight: bold;
}

.ppart {
    font-size: 1.6em;
    margin: 0 20px 15px;
    font-weight: 500;
}

.section02 ul {
    list-style: none;
    padding-left: 0;
    font-weight: bold;
    
}

.section02 li {
    text-align: center;
    font-size: 1.2em;
    margin:0 30%;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section02 span{
    font-size: 2.5em;
    color: #540B51;
}

/*Welcome*/
}  
.section03{
    background-color: #540B51;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:15px;
    text-align: center;
}

.section03 h3{
    color:white;
    font-size: 3em;
    }

.section03 button:first-of-type{
    padding:0;
    text-align: center;
    margin:10px 10px 1px;
    border-radius: 3px;
    border:none;
    width:90%;
    line-height: 45px;
    text-transform: uppercase;
    color:#540B51;
    font-weight: bold;
    background-color: white;
    letter-spacing: 0.1em;
}

.section03 button:last-of-type{
    border: 1px solid white;
    padding:0;
    text-align: center;
    margin:10px 10px 1px;
    border-radius: 3px;
    width:90%;
    line-height: 45px;
    text-transform: uppercase;
    color:white;
    font-weight: bold;
    background-color: #540b51;
    letter-spacing: 0.1em;
    margin-bottom: 10%;
}


.footerpart hr{
    margin: 5%;
    }

.footerpart ul:first-of-type{
    list-style-type: none;
    padding:0 10px 0 15px;
    line-height: 2.8em;
    font-size: 1.1em;
    font-weight: 800;

}

.footerpart ul:last-of-type{
    list-style-type: none;
    padding:0 10%;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
}

small{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    padding:5%;
}


/*Iteration 2 | Small Screens (width > 768px and width < 1024px)*/

@media (min-width: 768px) and (max-width: 1024px) {
/*Header*/

.fullheader{
    display: flex;
    height: fit-content;
    background-color: #540B51;
}
.header-part{
    background-color: #540B51;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    width:140%; 
   
    }

    .header-part h1{
        color:white;
        font-size:4em;
        padding:0 5%;
        font-weight: bold;
    }
    .heroimg img{
        width: 50%;
        overflow: hidden;
        margin:5%;
        
    }

    /*Trusted Resized*/

    
.section01 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 2rem;
    letter-spacing: 0.8px;
    display: flex;   
    
}

.img-comp{
    line-height: 30px;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: center;
}

.img-comp img{
    width:  10%;
    height: 10%;
    
       
}
}